(ns csc-4clj.problems.p{{id}})

;; {{id}}. {{title}}
;;
;; URL: http://www.4clojure.com/problem/{{id}}
;;
;; Description:
;; {{{description}}}
;;
;; Tags: {{tags}}
{{>restricted}}


(def __
  (fn []
    ,,,))


;;;;;;;;;;;
;; Tests ;;
;;;;;;;;;;;
{{#tests}}

{{{.}}}
{{/tests}}
